<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{list.name}}</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list.name }}</h1>

        <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>

        <h2>Tasks</h2>
        <table>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
          {% for task in todo_list.todoItems.all %}
          <tbody>
            <tr>
              <td>{{task.task}}</td>
              <td>{{task.due_date|date:"N j, Y"}}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </main>
  </body>
</html>
